{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h1 class="fw-bold mb-5">

        Saved Posts

    </h1>

    <div class="row g-4">

        {% for post in posts %}

            <div class="col-lg-4 col-md-6">

                <div class="card border-0
                            shadow-sm
                            rounded-4
                            overflow-hidden
                            h-100">

                    {% if post.image %}

                        <img src="{{ post.image.url }}"
                             class="card-img-top fixed-image">

                    {% else %}

                        <div class="default-image
                                    d-flex
                                    align-items-center
                                    justify-content-center">

                            <h4 class="text-white">

                                {{ post.title }}

                            </h4>

                        </div>

                    {% endif %}

                    <div class="card-body d-flex flex-column">

                        <h4 class="fw-bold">

                            {{ post.title }}

                        </h4>
                        <p class="text-muted small">

    {{ post.created_at|date:"M d, Y" }}

</p>

                        <p class="text-muted">

                             {{ post.content|safe|truncatewords_html:20 }}

                        </p>

                        <div class="mt-auto">

                            <a href="{% url 'post_detail' post.id %}"
                               class="btn btn-dark rounded-pill px-4">

                                Read More

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        {% empty %}

            <div class="text-center">

                <h3>No saved posts yet</h3>

                <p class="text-muted">

                    Save posts to read later.

                </p>

            </div>

        {% endfor %}

    </div>

</div>

<style>

.fixed-image{

    height:250px;

    object-fit:cover;
}

.default-image{

    height:250px;

    background:
    linear-gradient(
        135deg,
        #1e293b,
        #334155,
        #475569
    );

    display:flex;
    align-items:center;
    justify-content:center;
}

</style>

{% endblock %}